@inherits Umbraco.Web.Macros.PartialViewMacroPage
@{
var memberService =
ApplicationContext.Current.Services.MemberService;

var members = memberService.GetMembersByGroup("Active");

foreach (var member in members) 
{
<div class="active-member">
    <p>
        @(member.GetValue("firstname") + " "
        + member.GetValue("lastname")) <br />
        @member.GetValue("address")<br />
        @(member.GetValue("zip") + " "
        + member.GetValue("city")) <br />
        Mobile: @member.GetValue("mobile")<br />
    </p>
@{
    string fullPath = member.GetValue("photo").ToString();
    string[] substrings = fullPath.Split(',');
    string srcString = substrings[2];
    string[] srcSubStrings = srcString.Split(':');
    string srcPath = srcSubStrings[1].Replace("\"", "");
    srcPath = srcPath.Replace("}", "");
    <div class="member-img-container">
        <img class="member-image" src="@srcPath" />
    </div>
}
</div>
}
}